# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [10]:

CREATE TABLE JunkDB_STL_Sept2022.karynj.planned_makes (
     project_id INT PRIMARY KEY IDENTITY (1,1),
     project VARCHAR (50) NOT NULL,
     project_type VARCHAR (50) NOT NULL,
     length INT NOT NULL,
     color VARCHAR (50)
)

Add three rows to your table that are your planned makes.

In [11]:
INSERT INTO JunkDB_STL_Sept2022.karynj.planned_makes ([project], [project_type], [length], [color])
VALUES ('Temperature Blanket', 'Blanket', 400, 'Multi'),
('Baby Blanket', 'Blanket', 350, 'Blue'),
('Infinity Scarf', 'Scarf', 200, 'Yellow'); 

SELECT * 
FROM JunkDB_STL_Sept2022.karynj.planned_makes

project_id,project,project_type,length,color
1,Temperature Blanket,Blanket,400,Multi
2,Baby Blanket,Blanket,350,Blue
3,Infinity Scarf,Scarf,200,Yellow

## Update a Row

Change different values in one of your three rows.

In [12]:
UPDATE karynj.planned_makes
SET length = 150
WHERE project_id = 3

SELECT * 
FROM JunkDB_STL_Sept2022.karynj.planned_makes

project_id,project,project_type,length,color
1,Temperature Blanket,Blanket,400,Multi
2,Baby Blanket,Blanket,350,Blue
3,Infinity Scarf,Scarf,150,Yellow

## Delete a Row

Delete one of the rows from your table.

In [13]:
DELETE FROM karynj.planned_makes
WHERE project_id = 2

SELECT * 
FROM JunkDB_STL_Sept2022.karynj.planned_makes

project_id,project,project_type,length,color
1,Temperature Blanket,Blanket,400,Multi
3,Infinity Scarf,Scarf,150,Yellow

## Drop the Table

While this has been fun, it is time to drop the table!

In [14]:
DROP TABLE JunkDB_STL_Sept2022.karynj.planned_makes;